{% extends 'base.html.twig' %}
{% block title 'Tous nos biens' %}
{% block body %}
<div class="Container mt-4">
    <h1>Voir tous nos biens</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem dolorum voluptatem. Consequuntur deserunt dignissimos doloremque eligendi explicabo fugiat illum quibusdam quidem, quod saepe sed sint ullam vel. Ut, vero!</p>
</div>
{% endblock body %}